body{
    background-image: url("pics/Tea 1.jpg");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }

#logo {
    border-radius: 12px;
}
header {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10px 0 10px 0;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(107, 125, 92);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(246,239,220);
  }

.about-us {
    background-color: rgb(107, 125, 92); 
    padding: 50px;
    border-radius: 3px;
    border: 2px;
    text-align: center;
}

.about-us h2 {
    font-size: 24px;
    color: black;
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

.about-us ul {
    list-style: disc;
    padding: 20px 50px 75px 100px;
    text-align: left;
    margin-top: 10px;
    color: black;
}

hr{
  background-color: black;
  height: 2px;
  border: none;
}

.logo-container {
    background-image: url('Tea Time.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 400px; 
    height: 350px;
}

#slide{
    background-color:rgb(107, 125, 92);
    text-align: center;
    padding: 20px;
  }
.carousel-pic{
    width: 500px;
    height: 500px
  }

footer{
    clear: both;
    text-align: left;
    
  }
.column2{
    float: left;
    width: 50%;
    
}
