* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("pics/tea.jpg");
    background-size: cover;
}
body::before {
  content: "";
  position: absolute; z-index: 1;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, .2);
}

.login-form {position: relative; z-index: 2;}
.login-form h1 {
  font-size: 32px; color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
width: 50%;
}

.int-area {
  width: 400px; position: relative;
  margin-top: 20px;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px; color: #fff;
  outline: none;
}

.int-area label {
  position: absolute; left: 10px; top: 15px;
  font-size: 18px; color: #f2f2f2;
  transition: all .5s ease;
}

.int-area label.warning{
  color: red !important;
  animation: warning .3s ease;
  animation-iteration-count: 3;
}

.about-us ul {
    list-style: disc;
    padding: 20px 50px 75px 100px;
    text-align: left;
    margin-top: 10px;
    color: black;
}

hr{
  background-color: black;
  height: 2px;
  border: none;
}

.logo-container {
    background-image: url('Tea Time.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    width: 400px; 
    height: 350px;
}

#slide{
    background-color:rgb(107, 125, 92);
    text-align: center;
    padding: 20px;
  }
.carousel-pic{
    width: 500px;
    height: 500px
  }

footer{
    clear: both;
    text-align: left;
    
  }
.column2{
    float: left;
    width: 50%;
    
}
