body {
    background-image:url("pics/TeaPageBackground(1).jpg");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#logo {
    border-radius: 12px;
}

.description {
    text-align: left;
}

.row {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.recommend {
    float: left;
}

.column {
    
    float: left;
    width: 50%;
}


.clear {
    clear: both;
}

hr {
    background-color: black;
    height: 2px;
    border: none;
}

footer {
    clear: both;
    text-align: left;
}

.column2 {
    float: left;
    width: 50%;
}

header {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5px 0 10px 0;
  }
  
  /* Navigation Bar Styles */
  .NavPage {
    border-radius: 10px;
    background-color: rgb(107, 125, 92);
    overflow: hidden;
  }
  
  .NavPage ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  
  .NavPage li {
    display: inline-block;
    list-style: none;
    text-align: center;
  }
  
  .NavPage li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .NavPage li a:hover {
    background-color: rgb(246, 239, 220);
  }